body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.hidden {
  display: none;
}

nav {
  background: #222;
  padding: 10px;
}

nav button {
  margin-right: 10px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.page {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 6px;
}

.status-Defekt {
  background: #ffb3b3;
}

.status-Leer {
  background: #b3e5ff;
}

#login {
  padding: 40px;
}
